# Build Folders
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# NuGet packages
*.nupkg
packages/

# Rider IDE
.idea/

# Publish folders
publish/

# Temporary files
*.log

# Node.js
node_modules/
build/
dist/
.env