.day-card{
    width: 100px;
    height: 100px;
    background-color: #1b1c1d;
    color: #dfe0e2;
    font-family: "Inter", sans-serif;
    margin: 1px;
}

.day-card > h1{
    font-weight: 500;
    font-size: 1.6rem;
    padding: 5px 10px;
    margin: 0;
}


.employees{
    height: auto;
    overflow-x: auto;
}