header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
  background-color: #1b1c1d;
  color: #dfe0e2;
}

header > h1{
  margin: 0;
}

header > h1 >span{
  background-color: #bdbe57;
  color: #1b1c1d;
}

nav > a{
  padding: 0 10px;
  font-size: 1.4rem;
  text-decoration: none;
  color: #dfe0e2;
  font-weight: 500;
  height: auto;
}

nav > a:hover, a:active{
  background-color: #bdbe57;
  color: #1b1c1d;
}