body{
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #38393a;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
  background-color: #1b1c1d;
  color: #dfe0e2;
}

header > h1{
  margin: 0;
}

.menu > a{
  padding: 0 10px;
  font-size: 1.4rem;
  text-decoration: none;
  color: #dfe0e2;
  font-weight: 500;
  height: auto;
}

.menu > a:hover, a:active{
  background-color: #bdbe57;
  color: #1b1c1d;
}

button{
  font-size: 1.5rem;
  width: 350px;
  height: 60px;
  background-color: #1b1c1d;
  color: #dfe0e2;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border-radius: 5px;
  border: none;
}

button:hover{
  background-color: #bdbe57;
  color: #1b1c1d;
}

.section{
  margin: 40px;
  padding: 10px;
  color: #dfe0e2;
  font-size: 1.5rem;
}

.timelap{
  padding: 40px;
  width: 140px;
}