.login-page{
    text-align: center;
    margin: 200px auto;
    color: #dfe0e2;
    background-color: #2a2a2b;
    border: solid, 7px, #bdbe57;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
}

.login-page >h2{
    margin: 10px auto;
    font-weight: normal;
}

.login{
    font-size: 3rem;
    min-width: 40%;
    margin: auto;
    font-weight: normal;
}