.search-panel{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #2a2a2b;
    width: 70%;
    margin: 70px auto;
    padding: 30px;
}

.search-panel-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-panel > h2, .right-panel > h2{
    margin: 30px;
    font-weight: normal;
    font-size: 3rem;
}

.span-search-panel {
    padding: 0;
    font-size: 2rem;
    align-items: center;
    display: flex;
}

.span-search-panel > input{
    margin-left: 20px;
}

.search-result{
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-result > li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 2px solid #bdbe57;
    width: 40%;
    font-size: 1.5rem;
}

.search-result > li :hover{
    background-color: #bdbe57;
    color: #1b1c1d;
}

.result-span{
    padding: 0;
}